.button {
        background-color:#Off;
        padding:15px 32 px;
        text-align:center;
        text-decoration:None;
        display:inline-block;
        font-size:70px;
        border:2px Solid black;
      }
      .button:hover{
        background-color #00CCFF;
      }
.button:hover{
      background-color: #00CCFF;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
   .button:active{
      background-color: #00CCFF;
      padding-top: 12px;
   }